[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Blog following Team GRIT activities
[access "refs/*"]
	owner = group user/mcgonago
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/mcgonago
	label-Verified = -1..+1 group user/mcgonago
	push = group user/mcgonago
	read = group user/mcgonago
	rebase = group user/mcgonago
	removeReviewer = group user/mcgonago
	submit = group user/mcgonago
[access "refs/heads/*"]
	create = group user/mcgonago
	push = +force group user/mcgonago
	pushMerge = group user/mcgonago
	read = group user/mcgonago
[access "refs/tags/*"]
	push = group user/mcgonago
	push = +force group user/mcgonago
